# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
builds

# Секреты — не коммитить!
SERVICE_ACCOUNT_PRIVATE_KEY.txt
SERVICE_ACCOUNT_KEY_ID.txt
